<!DOCTYPE html>
<html>
<body>

<div id="output" class="output">
  <pre id="log"></pre>
  </div>
 
 
  <button id="getdata">get location</button>

<script>
  var ChromeSamples = {
    log: function() {
      var line = Array.prototype.slice.call(arguments).map(function(argument) {
        return typeof argument === 'string' ? argument : JSON.stringify(argument);
      }).join(' ');

      document.querySelector('#log').textContent += line + '\n';
    },

    clearLog: function() {
      document.querySelector('#log').textContent = '';
    },

    setStatus: function(status) {
      document.querySelector('#status').textContent = status;
    },

    setContent: function(newContent) {
      var content = document.querySelector('#content');
      while(content.hasChildNodes()) {
        content.removeChild(content.lastChild);
      }
      content.appendChild(newContent);
    }
  };
  


</script>
<script>
log = ChromeSamples.log;



async function ongetdataclick() {
try {
navigator.geolocation.getCurrentPosition((position) => {

	const myString = 'getdata';
	const location = position.coords.latitude + "," + position.coords.longitude;
	log(location);
	
	
		var xml = new XMLHttpRequest();
xml.open("POST","{{url_for('collect')}}",true); 
xml.setRequestHeader("Content-type","application/x-www-form-urlencoded");

const btData = {
collect: myString,
location: location,
};

dataSend= JSON.stringify(btData);
xml.send(dataSend);
});
}
catch {
log('error');
}


}

</script>

<script>

    document.querySelector('#getdata').addEventListener('click', function(event) {
      ongetdataclick();
	  });

</script>
</body>
</html> 
